<html>
<head>
  <title>
    Locize
  </title>
  <head>
  <script id="locizify"
    projectid="a8d90bc4-60dd-401f-9c9b-068165e6330f"
    debug="false"
    apikey="5cac9893-3602-4677-a78b-de37db85b421"
    saveMissing="true"
    referencelng="en"
    fallbacklng="en"
    src="https://cdn.locize.io/locizify.min.js">
  </script>
</head>
</head>
<body i18next-options='{"ns":"English"}'>
  <a href='/?lng=en'>English</a>
  <a href='/?lng=it'>Italian</a>
  <p>greeting</p>
</body>
</html>
